{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Make a new task
        </div>
        <div class="card-body">
            {% if msg %}
            <div class="alert alert-danger" role="alert">
                {{ msg }}
            </div>
            {% endif %}
            <form method="POST">
                <div class="form-group">
                    <label>Task:</label>

                    <select id="task" name="task_name" class="form-control" required>
                        {% for method in methods %}
                        <option value="{{method}}">{{method}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="category">Category:</label>
                    <select id="category" name="category" class="form-control" required>
                        {% for category in categories %}
                        <option value="{{category}}">{{category}}</option>
                        {% endfor %}
                    </select>
<!--                    <input class="form-control" name="category"-->
<!--                           -->
<!--                              required></input>-->
                </div>
                <div class="form-group">
                    <label>Date Taken</label>
                    <input id="picker" class="form-control" name="date_taken">


                </div>
                <button type="submit" class="btn btn-outline-primary">Add new task</button>
                <a href="/" type="button" class="btn btn-outline-info">Cancel</a>
            </form>
        </div>
    </div>
</div>

