{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
             Let's edit your task!
        </div>
        <div class="card-body">
            <form method="POST">
                <div class="form-group">
                    <label>Task</label>
                    <input type="text" class="form-control" name="task_name" value="{{task.task_name}}" required>
                </div>
                <div class="form-group">
                    <label>Category</label>
                    <input type="text" class="form-control" name="category" value="{{task.category}}" required>


                </div>
                <div class="form-group">
                    <label>Date Taken</label>
                    <input id="picker" class="form-control" name="date_taken" value="{{task.date_taken}}">

                </div>


                <button type="submit" class="btn btn-outline-primary">Update</button>
                <a href="/" type="button" class="btn btn-outline-info">Cancel</a>
            </form>
        </div>
    </div>
</div>

