{% include 'layout.html' %}


<div class="container">
    <div class="card text-center">
        <div class="card-header">
            Your Tasks!
        </div>
        <div class="card-body">
            <h5 class="card-title">List of your Tasks!</h5>
            <p class="card-text">Information regarding stuff that needs to be complete</p>
            <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Task Name</th>
                      <th scope="col">Category</th>
                      <th scope="col">Date Taken</th>
                      <th scope="col">Expired Date</th>
                      <th scope="col">Days to Expire</th>
                      <th scope="col">Actions</th>

                    </tr>
                  </thead>
                <tbody>

                {% for task in tasks %}
                     <tr class="pointer" >

                      <td>{{ loop.index }}</td>
                      <td>{{ task.task_name }} </td>
                      <td>{{ task.category }} </td>
                      <td>{{ task.date_taken.strftime('%m-%d-%Y') }} </td>
                      <td>{{ task.date_expired.strftime('%m-%d-%Y') }} </td>
                      <td> {{ task.days_expired }} </td>
                      <td>
                          <!-- Call endpoint in task API -->
                          <button onclick="window.location.href='edit-task/{{task.id}}'"
                                  type="button" class="btn btn-outline-info" style="font-size:18px"
                                  data-toggle="tooltip" data-placement="top" title="Edit">
                              <i class="fas fa-edit"></i>

                          </button>
                          <!-- Call endpoint in task API -->
                          <button onclick="window.location.href='/tasks/delete/{{task.id}}'"
                                  type="button"
                                  class="btn btn-outline-danger"
                                  style="font-size:18px"
                                  data-toggle="tooltip" data-placement="top" title="Delete">
                              <i class="fas fa-trash-alt"></i>

                          </button>
                      </td>
                    </tr>
                {% endfor %}


                </tbody>
             </table>

            <a href="add-task" class="btn btn-outline-primary">Add a new Task!</a>
        </div>
    </div>
</div>

